name: MLOps CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Run Unit Tests
      run: |
        python -m pytest tests/test_features.py

    - name: Lint code
      run: |
        flake8 app

    - name: Build Docker image
      run: |
        docker build -t mlops-app .

    - name: Run Docker container
      run: |
        docker run -d -p 8000:8000 mlops-app

    - name: Smoke Test
      run: |
        python smoke_test.py
